
nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #020202;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}
li a {
  color: black;
}
li a:hover {
  background-color: #555;
  color:white;
}