body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 400px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  
  .num{
    font-size: 80px;
  }
  
 .btnClick{
    padding: 10px 20px;
    font-size: 18px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btnClick:hover {
    background-color: #0056b3;
  }